@import url("https://fonts.googleapis.com/css?family=Exo+2");

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.custom-nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 38rem;
  width: 100%;
  font-family: "Exo 2";
}

@media (max-width: 768px) {
  .custom-nav {
    display: none;
  }
}

.nav-btn {
  text-decoration: none;
  color: rgb(24, 24, 24);
  font-weight: 600;
  padding: 13px;
  opacity: 0.8;
  white-space: nowrap;
}

.nav-btn:hover {
  opacity: 1;
}

.nav-btn:before {
  font-family: apple color emoji, segoe ui emoji, notocoloremoji,
    segoe ui symbol, android emoji, emojisymbols, emojione mozilla;
}

.menu-item:first-of-type a {
  border-radius: 13px 0 0 21px;
}

.menu-item:last-of-type a {
  border-radius: 0 21px 13px 0;
}

nav {
  max-width: 360px;
  max-height: 480px;
  display: flex;
  align-items: flex-end;
  animation: bounceIn 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
  animation-delay: 500ms;
  transform-style: preserve-3d;
  opacity: 0;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scaleX(0.55) scaleY(0.89);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  position: relative;
  display: inline-flex;
}

@keyframes showBounce {
  100% {
    opacity: 1;
    transform: translateX(-21px) skewY(-5deg);
  }
}

.menu-item a {
  position: relative;
  text-align: center;
}

.menu-item a:before {
  content: "";
  display: block;
  font-size: 34px;
  transform: rotateZ(-8deg);
  margin-bottom: 5px;
  transition: transform 189ms ease-out;
}

.menu-item a:hover:before {
  animation: hoverEmoji 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes hoverEmoji {
  0% {
    transform: scaleX(1.2) rotateX(-21deg) rotateZ(-8deg);
  }
  100% {
    transform: rotateZ(-8deg);
  }
}

nav > ol > .menu-item:nth-of-type(1) > a:before {
  content: "🏠";
}

nav > ol > .menu-item:nth-of-type(2) > a:before {
  content: "🤷";
}

nav > ol > .menu-item:nth-of-type(3) > a:before {
  content: "🎞";
}

nav > ol > .menu-item:nth-of-type(4) > a:before {
  content: "🗂";
}

nav > ol > .menu-item:nth-of-type(5) > a:before {
  content: "📨";
}

nav > ol > li {
  width: 20%;
  margin-right: -4px;
}
